//
//  HomeViewController.swift
//  FlickrApp
//
//  Created by Ahmed Ali on 10/01/2021.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "ConfigBaseQA.xcconfig"
// Override App name with new value
APP_NAME = Testing-Ibtikar
